[*]
charset=utf-8
end_of_line=lf
insert_final_newline=true
indent_style=space
indent_size=4

[{*.sht,*.html,*.shtm,*.shtml,*.htm}]
indent_style=space
indent_size=2

[{*.mod,*.dtd,*.ent,*.elt}]
indent_style=space
indent_size=2

[{*.jhm,*.xslt,*.xul,*.tagx,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.jspx,*.xml,*.jnlp,*.wsdl,*.pom}]
indent_style=space
indent_size=2

[*.json]
indent_style=space
indent_size=2

[*.svg]
indent_style=space
indent_size=2

[{*.yml,*.yaml}]
indent_style=space
indent_size=2

