language: android
jdk:
  - oraclejdk8

sudo: required
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -rf $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
  - $HOME/.android/build-cache
env:
 global:
 - ANDROID_API=26
 - ANDROID_BUILD_TOOLS=26.0.2

android:
  components:
    - tools
    - tools # Running this twice get's the latest build tools (https://github.com/codepath/android_guides/wiki/Setting-up-Travis-CI)
    - platform-tools
    - android-${ANDROID_API}
    - build-tools-${ANDROID_BUILD_TOOLS}
    - extra

jobs:
  include:
  - stage: test
    script: ./gradlew clean test
  - stage: detekt
    script: ./gradlew clean detektCheck

deploy:
- provider: script
  script: bash .buildsystem/deploy.sh
  on:
    branch: develop
- provider: script
  script: bash .buildsystem/deploy.sh
  on:
    tags: true
