.tab .tab-item {
    display: inline-block;
    padding: 16px 0;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 0.875rem; }
.tab .tab-item:last-child {
    margin-right: 0; }
.tab .tab-item.active {
    padding-bottom: 14px;
    border-bottom: 2px solid #4B74E5; }
.tab .tab-item.active a {
    color: #4B74E5; }
.tab .tab-item a {
    color: #526795; }
.tab .tab-item a:hover {
    text-decoration: none; }

.tab {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    position: relative;
    background: #fff;
    text-align: center;
}

.tab > * {
    flex: none;
    padding-left: 20px;
    position: relative;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
}

.tab > .active > a {
    color: #222;
    border-color: #1e87f0;
}

.tab li a {
    text-decoration: none;
    cursor: pointer;
}

.tab-content {
    padding: 0;
}

.tab-content li {
    display: none;
}

.tab-content li.active {
    display: initial;
}

.doc-content .tab {
    padding-left: 0;
}

.doc-content .tab li::before {
    content: "";
    width: 0;
    margin-left: 0;
}

.doc-content .tab-content li::before {
    content: "";
    width: 0;
    margin-left: 0;
    display: none;
}

.doc-content .tab-content {
    padding-left: 0;
}
