/**
  Card block
  Card with info
  Buttons
  Buttons group
  Dropdown
  Titles
  Text elements
  Dropdown
  Notifications
  Tooltip
  Title + text block
  Labels
  Icons
**/

/* Card */
.card {
  margin-bottom: $margin;
  padding: $side-padding;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

@media

$large-screen{
.card {
  padding: $side-padding-desktop;
}

}

/* Card with info */

.card-info {
  margin-right: $side-padding;
  flex-grow: 1;
}

.card-info__title {
  @extend .text-sub-title-light;
}

.card-info__content {
  margin-top: 15px;
  font-size: 40px;
  line-height: 1;
  color: $electric;
  font-weight: 300;
}

/* Buttons */
$button-inner-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.1);
$button-inner-shadow-darker: inset 0 2px 1px 0 rgba(0, 0, 0, 0.1);
$button-height: 34px;

.button {
  display: inline-block;
  box-sizing: border-box;
  height: $button-height;
  padding: 0 12px;
  border-radius: 4px;
  border: none;
  font-size: $font-normal;
  font-weight: 500;
  line-height: $button-height;
  text-align: center;
  background-color: $purple;
  color: $white;
  outline: none;
  cursor: pointer;
  transition: background $short-transition;

  &:hover:not(.disabled), &:hover:not([disabled]) {
    background-color: $purple-darker;
  }

  &:active:not(.disabled), &:active:not([disabled]) {
    background-color: $purple-darker;
  }

  &:hover {
    color: $white;
  }

  &.small {
    min-width: 80px;
    height: 24px;
    font-size: $font-small;
    padding: 2px 12px 0;
  }

  &.full {
    width: 100%;
  }

  &.fixed {
    min-width: 90px;
  }

  &.disabled, &[disabled] {
    opacity: .5;
    cursor: default;
  }

  &.flat {
    border-radius: 0;
  }

  &.success {
    background-color: $green;
    border-color: $green;
    color: $white;

    &:hover:not(.disabled), &:hover:not([disabled]) {
      background-color: $green-darker;
    }

    &:active:not(.disabled), &:active:not([disabled]) {
      background-color: $green-darker;
    }
  }

  &.alert {
    background-color: $red;
    color: $white;

    &:hover:not(.disabled), &:hover:not([disabled]) {
      background-color: $red-darker;
    }

    &:active:not(.disabled), &:active:not([disabled]) {
      background-color: $red-darker;
    }
  }

  &.warning {
    background-color: $yellow;
    color: $white;

    &:hover:not(.disabled), &:hover:not([disabled]) {
      background-color: $yellow-darker;
    }

    &:active:not(.disabled), &:active:not([disabled]) {
      background-color: $yellow-darker;
    }
  }

  &.secondary {
    background-color: $light-grey;
    color: $primary-blue;

    &:hover:not(.disabled), &:hover:not([disabled]) {
      background-color: $light-grey-darker;
    }

    &:active:not(.disabled), &:active:not([disabled]) {
      background-color: $light-grey-darker;
    }
  }
}

/* Buttons group */

.button-group {
  .button {
    margin-right: 20px;
  }
}

/* Titles */

.title-common {
  margin-bottom: 32px;
  @extend .text-title;
}

.title-common-simple {
  @extend .text-title;
  text-transform: uppercase;
}

/* Text elements */

.emphasized {
  @extend .text-sub-title;
}

.italic {
  font-style: italic;
}

.success,
  // deprecated
.successful {
  color: $green;
}

.warning {
  color: $yellow;
}

.danger,
  // deprecated
.failure {
  color: $red;
}

.fair {
  color: $primary-grey;
}

.bold {
  font-weight: bold;
}

.align-center {
  text-align: center;
}

.valign {
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

.break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.small {
  @extend .text-note;
  color: $primary-grey;
}

.grey {
  color: $primary-grey;
}

/* Dropdown */

.dropdown.button {
  position: relative;
  padding-right: 36px;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 13px;
    right: 16px;
    width: 0;
    height: 0;
    border-top: 4px solid $white;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}

.dropdown-list {
  display: inline-block;
  position: relative;
}

.dropdown-list__items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 200px;
  max-height: 0;
  margin-top: 8px;
  overflow: hidden;
  border-radius: 4px;
  opacity: 0;
  background: $purple-lighter;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.15);
  transform: translateY(-15px);
  transition-property: opacity, transform;
  transition-duration: .3s;

  &.open {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
    z-index: 2;
  }

  &.left-side {
    left: auto;
    right: 0;
  }
}

.dropdown-list__item {
  &:first-child {
    padding-top: 7px;
  }

  &:last-child {
    padding-bottom: 7px;
  }
}

.dropdown-list__item__i {
  display: block;
  padding: 9px 20px;
  color: $white;

  &:hover, &:active {
    color: $white;
    background: $purple;
  }
}

/* Notifications */

.notification__close {
  position: absolute;
  top: 2px;
  right: 7px;
  opacity: .2;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;

  &:hover {
    opacity: .5;
  }
}

.notification {
  position: relative;
  padding: 20px 35px 17px 15px;
  margin-bottom: 20px;
  border-radius: 4px;
  @extend .text-note;
  color: $white;
  background-color: $electric;

  &.success {
    background-color: $green;
  }

  &.warning {
    background-color: $yellow;
  }

  &.danger {
    color: $red;
    background-color: $system-red;
  }

  &.inline {
    margin: 0;
    display: inline-block;
  }
}

/* Tooltip */

.tooltip {
  position: relative;
}

.tooltip__handler {
  cursor: default;

  &:hover {
    .tooltip__content {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0px);
      z-index: 10;
    }
  }
}

.tooltip__content {
  position: absolute;
  z-index: 2;
  margin-top: 5px;
  padding: 12px 16px 10px;
  opacity: 0;
  border-radius: 4px;
  @extend .text-regular;
  color: $primary-blue;
  background: $light-grey;
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.15);
  pointer-events: none;
  transform: translateY(10px);
  transition: all .25s ease-out;

  &.revert {
    right: 100%;
    margin-right: -18px;

    &:after {
      left: auto;
      right: 25px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: -7px;
    left: 25px;
    height: 0;
    width: 0;
    border-left: solid transparent 6px;
    border-right: solid transparent 6px;
    border-bottom: solid $light-grey 7px;
  }

  & > div {
    display: table;
    white-space: nowrap;
  }
}

/* Title + Text block */

.text-block {
  margin: 0 $margin 24px 0;
}

.text-block__title {
  margin-bottom: 10px;
  @extend .text-sub-title-light;

  &.emphasized {
    color: $primary-blue;
  }
}

.text-block__content {
  min-height: 30px;

  [type='text'],
  [type='password'],
  [type='email'],
  [type='tel'],
  textarea,
  select {
    position: relative;
    top: -6px;
  }
}

/* Labels */

.label {
  display: inline-block;
  box-sizing: border-box;
  height: 20px;
  padding: 4px 10px 0;
  border-radius: 20px;
  font-size: $font-small;
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  background-color: $primary-grey;

  &.info {
    background-color: $electric;
  }

  &.success {
    background-color: $green;
  }

  &.danger,
    // deprecated
  &.alert {
    background-color: $red;
  }

  &.warning {
    background-color: $yellow;
  }

  &.error {
    color: $red;
    background-color: $system-red;
  }

  &.wide {
    min-width: 70px;
  }

  &.offset {
    position: relative;
    top: -2px;
    margin: 0 8px;
    text-transform: capitalize;
  }

  &.inlined {
    margin-right: 5px;
  }
}

/* Icons */

.icon {
  display: inline-block;

  &.expand {
    width: 7px;
    height: 7px;
    border-left: 1px solid $primary-blue;
    border-top: 1px solid $primary-blue;
    transform: rotate(-135deg)
  }
}

.formatted-time {
  white-space: nowrap;
}

.center {
  margin: auto;
}

.logcat {
  table-layout: auto;
  width: 100%;
  font-size: 12px;

  .line {
    &.verbose {
      color: black;
      background-color: #eeeeee;
    }
    &.debug {
      color: black;
      background-color: #90caf9;
    }
    &.assert {
      color: black;
      background-color: #ff1744;
    }
    &.error {
      color: black;
      background-color: #ef9a9a;
    }
    &.info {
      color: black;
      background-color: #c5e1a5;
    }
    &.warn {
      color: black;
      background-color: #fff59d;
    }

    td {
      padding: 4px;
      word-wrap: break-word;
    }
  }
}
