/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@use './components/admonition';
@use './components/back-to-top-button';
@use './components/code';
@use './components/doc-item';
@use './components/doc-page';
@use './components/doc-sidebar';
@use './components/edit-this-page';
@use './components/markdown';
@use './components/navbar';
@use './components/navbar-sidebar';
@use './components/pagination';
@use './components/search';
@use './components/table';
@use './components/tabs';
@use './components/theme-toggle';
@use './components/toc';

@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import '../../node_modules/modern-normalize/modern-normalize.css';

:root {
  --ifm-background-color: var(--token-primary-bg-c);

  --ifm-navbar-link-hover-color: initial;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-item-padding-vertical: 0;

  --ifm-font-family-base: 'Titillium Web', sans-serif;
  --ifm-font-family-monospace: 'Source Sans Pro', monospace;

  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEwIDYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik04Ljk5OTg4IDVMNC45OTk4OCAxTDAuOTk5ODc4IDUiIHN0cm9rZT0iIzAzMDYwQiIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
  //#region ----------- Z Indices ------------
  --z-sidebar: 2000;
  --z-backdrop: 1100;
  //#endregion
}

html[data-theme='light'] {
  --ifm-color-primary: var(--c-marathon-blue);
  --token-primary-bg-c: #fff;
  --token-secondary-bg-c: #fff;

  --ifm-link-color: var(--c-blue-90);
  //rgb value is c-blue-90
  --ifm-link-hover-color: rgba(27, 109, 255, 0.8);

  --ifm-background-surface-color: var(--token-primary-bg-c);

  --ifm-navbar-background-color: var(--token-primary-bg-c);
  --ifm-navbar-shadow: 0 1px 0 0 var(--c-gray-10);

  --ifm-heading-color: var(--c-carbon-100);
  --ifm-code-background: var(--c-indigo-10);
  --ifm-font-color-base: var(--c-carbon-90);

  --docusaurus-collapse-button-bg: var(--ifm-color-emphasis-200);
}

html[data-theme='dark'] {
  --token-primary-bg-c: #03060b;
  --token-secondary-bg-c: #13171c;

  --ifm-link-color: var(--c-blue-70);
  //rgb value is c-blue-70
  --ifm-link-hover-color: rgba(77, 141, 255, 0.8);

  --ifm-background-surface-color: var(--token-primary-bg-c);

  --ifm-navbar-background-color: var(--token-primary-bg-c);
  --ifm-navbar-shadow: 0 1px 0 0 var(--c-gray-90);

  --ifm-heading-color: #fff;
  --ifm-font-color-base: var(--c-carbon-10);
  --ifm-background-color: var(--token-primary-bg-c);
  --ifm-dropdown-background-color: var(--token-secondary-bg-c);

  --ifm-menu-link-sublist-icon-filter: invert(100%);

  --docusaurus-collapse-button-bg: #2e333a;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;

  scroll-padding-top: calc(var(--ifm-navbar-height) + 16px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

.theme-doc-version-banner {
    width: 100%;
    max-width: var(--doc-item-container-width);
}

.theme-doc-version-badge {
  display: none;
}

ion-grid {
  margin: 1em 0;
}

figure {
  margin: 0;
}

figure > * {
  display: block;
  margin: 0 auto;
}

figure.device {
  max-width: 400px;
  margin: 0 auto;
}

figcaption {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.git-link svg {
  height: 1em;
  width: 1em;
  vertical-align: -0.1em;
}

.git-link path {
  fill: currentColor;
}

.cordova-ee-card {
  max-width: 100%;
}

.cordova-ee-img {
  width: 50px;
  float: left;
  margin-right: 20px;
}

.native-ee-detail {
  float: right;
  cursor: pointer;
}

.cordova-ee-card p {
  margin: 1rem 0 0;
}

div[role=tabpanel].tab-content-with-text {
    background: white;
    padding: 4px;
}

#__docusaurus .navbar__item.navbar__link {
    align-self: stretch;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 600;
    font-size: 18px;
    min-width: 120px;
}

#__docusaurus .navbar__item:not(.dropdown).navbar__link::after {
    left: 2px;
    right: 2px;
}

#__docusaurus .navbar__item:not(.dropdown).navbar__link--active {
    color: var(--c-marathon-purple-bright);
}

#__docusaurus .navbar__item:not(.dropdown).navbar__link--active::after {
    background: var(--c-marathon-purple-bright);
}

html.plugin-id-default  .navbar__dropdown--versions.runner {
    display: none !important;
}

html.plugin-id-enterprise  .navbar__dropdown--versions.runner {
    display: none !important;
}


.navbar__dropdown--versions.cloud {
    display: none !important;
}
